<h1>Login</h1>
{{#if messages}}
  <div class="alert alert-danger">
    Login Invalid
  </div>

{{else}}
  <div class="alert alert-secondary">
    Please enter your username and password
  </div>
{{/if}}

<form method="post">
  <fieldset class="form-group">
    <label for="username" class="col-2 control-label">Username: *</label>
    <input name="username" id="username" required />
  </fieldset>
  <fieldset class="form-group">
    <label for="password" class="col-2 control-label">Password: *</label>
    <input name="password" id="password" type="password" required />
  </fieldset>
  <fieldset class="form-group">
    <button class="btn btn-success offset-3">Login</button>
    <hr />
    <a href="/auth/github" class="offset-6">
      <img src="/images/github-signin.jpeg" alt="Sign In with GitHub" />
    </a>
    <hr />
    Need an account?
    <a href="/auth/register" title="Register">Register</a>
  </fieldset>
</form>