<header class="hero">
  <div class="container">
    <h1 class="main-title">Ontario Bud Review</h1>
    <p>Buds helping Buds find the best Buds</p>
    <a href="./buds" class="btn btn-primary">Find a Review</a>
  </div>
</header>