<h1>{{title}}</h1>

<form method="post">
  <fieldset>
    <label class="'control-label col-2" for="name">Name: *</label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label class="'control-label col-2" for="strain">Strain: *</label>
    <input name="strain" id="strain" required />
  </fieldset>
  <fieldset>
    <label class="'control-label col-2" for="thc">THC%: *</label>
    <input name="thc" id="thc" required />
  </fieldset>
  <fieldset>
    <label class="'control-label col-2" for="cbd">CBD%: *</label>
    <input name="cbd" id="cbd" required />
  </fieldset>
  <fieldset>
    <label class="'control-label col-2" for="review">Review: *</label>
    <textarea name="review" id="review" required></textarea>
  </fieldset>
  <button class="btn btn-secondary offset-2">Save</button>

</form>